<!doctype html>
<html lang="en">
<head>
<title>客户注册</title>
</head>
<body>
<a href="{:url('index/index/index')}">返回首页</a>
 <form class="form-horizontal" role="form" action="{:url('customer')}" method="post">
	<div class="form-group">
	    <label for="UnitName" class="col-sm-2 control-label no-padding-right">单位名称</label>
	    <div class="col-sm-6">
	        <input class="form-control" id="UnitName" placeholder="" name="UnitName" type="text">
	    </div>	   
	</div>

	<div class="form-group">
	    <label for="group_id" class="col-sm-2 control-label no-padding-right">所在银行</label>
	    <div class="col-sm-6">
	        <input class="form-control" id="Bank" placeholder="" name="Bank" type="text">
	    </div>	  
	</div>
	 <div class="form-group">
		 <label for="group_id" class="col-sm-2 control-label no-padding-right">银行帐号</label>
		 <div class="col-sm-6">
			 <input class="form-control" id="BankAccount" placeholder="" name="BankAccount" type="text">
		 </div>
	 </div>
	 <div class="form-group">
		 <label for="group_id" class="col-sm-2 control-label no-padding-right">帐户名称</label>
		 <div class="col-sm-6">
			 <input class="form-control" id="AccountName" placeholder="" name="AccountName" type="text">
		 </div>
	 </div>
	 <div class="form-group">
		 <label for="group_id" class="col-sm-2 control-label no-padding-right">内部单位</label>
		 <div class="col-sm-6">
			 <input class="form-control" id="InternalUnit" placeholder="" name="InternalUnit" type="text">
		 </div>
	 </div>
	 <div class="form-group">
		 <label for="group_id" class="col-sm-2 control-label no-padding-right">税号</label>
		 <div class="col-sm-6">
			 <input class="form-control" id="DutyParagraph" placeholder="" name="DutyParagraph" type="text">
		 </div>
	 </div>
	 <div class="form-group">
		 <label for="group_id" class="col-sm-2 control-label no-padding-right">单位类别</label>
		 <div class="col-sm-6">
			 <input class="form-control" id="UnitCategory" placeholder="" name="UnitCategory" type="text">
		 </div>
	 </div>
	 <div class="form-group">
		 <label for="group_id" class="col-sm-2 control-label no-padding-right">所属地区</label>
		 <div class="col-sm-6">
			 <input class="form-control" id="AffiliatedArea" placeholder="" name="AffiliatedArea" type="text">
		 </div>
	 </div>
	 <div class="form-group">
		 <label for="group_id" class="col-sm-2 control-label no-padding-right">单位地址</label>
		 <div class="col-sm-6">
			 <input class="form-control" id="UnitAddress" placeholder="" name="UnitAddress" type="text">
		 </div>
	 </div>
	 <div class="form-group">
		 <label for="group_id" class="col-sm-2 control-label no-padding-right">联系人</label>
		 <div class="col-sm-6">
			 <input class="form-control" id="Contacts" placeholder="" name="Contacts" type="text">
		 </div>
	 </div>
	 <div class="form-group">
		 <label for="group_id" class="col-sm-2 control-label no-padding-right">联系电话</label>
		 <div class="col-sm-6">
			 <input class="form-control" id="ContactNumber" placeholder="" name="ContactNumber" type="text">
		 </div>
	 </div>
	 <div class="form-group">
		 <label for="group_id" class="col-sm-2 control-label no-padding-right">法人代表</label>
		 <div class="col-sm-6">
			 <input class="form-control" id="LegalPerson" placeholder="" name="LegalPerson" type="text">
		 </div>
	 </div>
	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	        <button type="submit" class="btn btn-default">保存信息</button>
	    </div>
	</div>
</form>
<div>

</div>
</body>
</html>